<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="//ghost.org/assets/favicon-e13fe17b11ad125601924cfb260f20da.ico">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" href="//ghost.org/assets/application-adf821d0ec077eff260016527257e0b9.css" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{{block "meta"}}}
    
    {{ghost_head}}
    
    {{! Pingdom }}
    <script>
    var _prum = [['id', '530e6537abe53ddb5e000000'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
    </script>
    {{! Segment.io }}
    <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("uj8ix0aatc");
    window.analytics.page();
    </script>
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>
    <header id="global-header" class="navbar">
       <nav role="navigation">
           <div class="wrapper">
               <a class="ghost-logo" href="https://ghost.org/"><span>Ghost</span></a>
               <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
               <span class="hidden">Menu</span>
               </button>
               <ul id="main-menu" class="nav-collapse closed">
                   <li><a href="//ghost.org/features/">Features</a></li>
                   <li><a href="//ghost.org/about/">About</a></li>
                   <li><a href="//marketplace.ghost.org">Marketplace</a></li>
                   <li><a href="//ghost.org/forum/">Forum</a></li>
                   <li class="current extra"><a href="//blog.ghost.org">Blog</a></li>
                   <li><a class="signup" href="//ghost.org/signup/">Sign Up</a></li>
                   <li><a class="login" href="//ghost.org/login/">Log in</a></li>
               </ul>
           </div>
        </nav>
    </header>

    <main role="main">
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">The latest content, once per week.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    {{! Find/replace "tljkji" with your form code, don't change anything else }}
                    <form action="http://tryghost.createsend.com/t/t/s/tljkji/" method="post">
                        <input id="fieldEmail" name="cm-tljkji-tljkji" type="email" placeholder="Your email address" required />
                        <button class="button-add wide" type="submit">Send me the good stuff</button>
                        <p><strong>Privacy policy:</strong> No spam. No jibber jabber. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="partners">
        <h5>Ghost Launch Partners</h5>
        <div class="logos">
            <section class="logos-section">
                <span class="logo"><a href="http://atechmedia.com/">
                <img alt="aTech Media" nopin="nopin" src="//ghost.org/assets/partners/atech-23c24a138925397fbf32e312f7cf6bce.png"/></a></span>
                <span class="logo"><a href="http://envato.com/">
                <img alt="Envato" nopin="nopin" src="//ghost.org/assets/partners/envato-640af2260165d63965e28bd416d5f0ae.png"/></a></span>
                <span class="logo"><a href="http://ie.microsoft.com">
                <img alt="Internet Explorer" nopin="nopin" src="//ghost.org/assets/partners/internetexplorer-d6562e2efecfc804862e172382d9eb1b.png"/></a></span>
                <span class="logo"><a href="http://woothemes.com/">
                <img alt="Woo Themes" nopin="nopin" src="//ghost.org/assets/partners/woo-a6b480893668163b98bc1cb9d66cae13.png"/></a></span>
                <span class="logo"><a href="http://codeschool.com/">
                <img alt="Code School" nopin="nopin" src="//ghost.org/assets/partners/codeschool-175239b64a991b3e9ce51732700938e7.png"/></a></span>
            </section>
            <section class="logos-section">
                <span class="logo"><a href="http://lioncrest.com/">
                <img alt="Lion Crest" nopin="nopin" src="//ghost.org/assets/partners/lioncrest-793a8c2d22b4e44b98fd4973f2dd712b.png"/></a></span>
                <span class="logo"><a href="http://singlehop.com/">
                <img alt="Single Hop" nopin="nopin" src="//ghost.org/assets/partners/singlehop-1371e6503c86b46aa9df28ae38760a58.png"/></a></span>
                <span class="logo"><a href="http://marketpress.com/">
                <img alt="MarketPress" nopin="nopin" src="//ghost.org/assets/partners/marketpress-2e6e9b56f90487395b3b3719c6c124c2.png"/></a></span>
                <span class="logo"><a href="http://fused.com/">
                <img alt="Fused" nopin="nopin" src="//ghost.org/assets/partners/fused-95f1bed15afee84367bc76791bcd955d.png"/></a></span>
            </section>
        </div>
    </section>

    <div class="clearfix"></div>

    <footer id="global-footer">
      <nav id="footer-nav" role="navigation">
        <ul id="footer-menu">
          <li class="logo"><a href="//ghost.org/"><span class="hidden">Ghost</span></a></li>
          <li><a href="https://ghost.org/about/">About</a></li>
          <li><a href="http://status.ghost.org">Status</a></li>
          <li><a href="https://ghost.org/pricing/">Pricing</a></li>
          <li><a href="http://blog.ghost.org/">Blog</a></li>
          <li><a href="https://ghost.org/about/terms/">Terms</a></li>
          <li><a href="https://ghost.org/about/privacy/">Privacy</a></li>
          <li><a href="https://ghost.org/about/contact/">Contact</a></li>
        </ul>
        <div class="clearfix"></div>
        <ul id="social-menu">
          <li class="github"><a href="https://github.com/TryGhost/Ghost"><span class="hidden">Github</span></a></li>
          <li class="twitter"><a href="https://twitter.com/tryghost"><span class="hidden">Twitter</span></a></li>
          <li class="gplus"><a href="https://plus.google.com/u/0/b/114465948129362706086/114465948129362706086/posts"><span class="hidden">Google+</span></a></li>
          <li class="facebook"><a href="https://www.facebook.com/ghost"><span class="hidden">Facebook</span></a></li>
          <li class="love"><a data-toggle="modal" href="#love"><span class="hidden">Made for Love</span></a></li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </footer>

    <div id="love" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <img class="sustainable" nopin="nopin" src="http://cdn.travelllll.com/wp-content/uploads/2013/04/sustainability.png" alt="Diagram: Users = Revenue = Development = Users" />
      <h3>Made for Love, Not for Profit</h3>
      <p>The Ghost Foundation is a legally registered not-for-profit organisation. Why should you care? It means that no one owns shares of monetary value in the project. We're building Ghost because we want online publishing to be better. We want to make decisions focused on that goal, not on building a startup that we can sell to Facebook for $1billion.</p>
      <p>Any money Ghost makes can only ever be used to re-invest in making Ghost better. Not making shareholders rich.</p>
    </div>

    {{ghost_foot}}

    <script type="text/javascript">
        function replaceHeader (content) {
            $(document).ready(function() {
                $("#global-header > nav > .wrapper").replaceWith(content);
                $("#global-header > nav > .wrapper").fadeIn();
            });
    }
    </script>
    <script src="https://ghost.org/navigation/"></script>

    <script type="text/javascript" src="//ghost.org/assets/application-b3c32be93105ff710a7fd776dff06d70.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Twitter buttons }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {{! Facebook buttons }}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=596756540369391";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{! Google+ buttons }}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>