{{!< default}}

<div class="wrap">
    <section class="blog-content">

        <article class="{{post_class}}">
            {{#post}}

            <a class="post-meta" href="/">&larr; Back to the front page</a>

            <h1 class="post-title">{{{title}}}</h1>
            <section class="post-meta">
                <img class="author-img" src="{{author.image}}" alt="Author image" nopin="nopin" />
                <span class="author-name">{{author}}</span>
                on the
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do of MMMM YYYY"}}</time>
                <span class="tags">{{tags prefix="in "}}</span>
            </section>

            <section class="post-content">
                {{#if image}}<img src="{{image}}" alt="Post image" />{{/if}}
                {{content}}
            </section>

            {{/post}}
        </article>

    </section>

    {{> sidebar}}

</div>
